* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(45deg, #010758, #490d61);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}

.hero h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-top: -2rem;
  margin-bottom: 2rem;
}

.hero h1 span {
  color: #ff2963;
}

#text-container {
  width: 80%;
  height: 250px;
  background: #333074;
  color: #ddd;
  font-size: 1rem;
  border: 0;
  outline: 0;
  padding: 1rem;
  border-radius: 10px;
  resize: none;
  margin-bottom: 30px;
  overflow-y: auto;
  overflow-x: hidden;
  display: none;
  white-space: pre-wrap;
}

textarea {
  width: 80%;
  height: 250px;
  background: #403d84;
  color: #fff;
  font-size: 1rem;
  border: 0;
  outline: 0;
  padding: 1rem;
  border-radius: 10px;
  resize: none;
  margin-bottom: 30px;
}

textarea::placeholder {
  font-size: 16px;
  color: #ddd;
}

.row {
  width: 80%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

button {
  background: #ff2963;
  color: #fff;
  font-size: 1rem;
  padding: 0 2rem;
  border-radius: 35px;
  border: 0;
  outline: 0;
  cursor: pointer;
  height: 2.5rem;
}

button:hover {
  background-color: #fff;
  color: #ff2963;
  transition: 0.2s;
}

select {
  flex: 1;
  color: #fff;
  background: #403d84;
  height: 3rem;
  padding: 0 2rem;
  outline: 0;
  border: 0;
  border-radius: 35px;
}

select:hover {
  cursor: pointer;
}
